  <li class="openCloseTitle iconSmall {% if itemLevel > 1 %} iconExpandClosed {% else %} iconExpand {% endif %}">{{ tilematrixset.title }}</li>
  <li>
    <span class="labelText left">{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.identifier" | trans }}:</span>
    <span class="metaText">{{ tilematrixset.identifier }}</span>
  </li>
  <li>
    <span class="labelText left">{{ "mb.wmts.wmtsloader.repo.tilematrixset.label.supportedcrs" | trans }}:</span>
    <span class="metaText">{{ tilematrixset.supportedCrs }}</span>
  </li>
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.tilematrixset.label.title" | trans }}:</span>
    <span class="metaText">{{ tilematrixset.title }}</span>
  </li>
  <li>
    <span class="labelText">{{"mb.wmts.wmtsloader.repo.tilematrixset.label.abstract" | trans }}:</span>
    <span class="metaText">{{ tilematrixset.abstract }}</span>
  </li>
  {% for tilematrix in tilematrixset.tilematrixes %}
  <li>
    <ul class="itemLevel2 list">
    {% include "MapbenderWmtsBundle:Repository:tilematrix.html.twig"  with {'tilematrix': tilematrix, 'itemLevel': 2 }%}
    </ul>
  </li>
  {% endfor %}